<app-loader></app-loader>
<div class="overflow-hidden text-center border-2 mb-2">
    <div class="col-md-5 p-lg-5 mx-auto my-1">
        <h1 class="display-4 font-weight-normal">Course Title</h1>
        <p class="lead font-weight-normal">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni vitae error
            nam ipsam asperiores deserunt itaque sed ipsa. Corrupti, dicta rem perspiciatis aliquid nobis consectetur
            nesciunt vero quas quis non.</p>
        <a class="btn btn-outline-secondary" href="#">Show homework</a>
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>


<div id="course_homework">


    <app-carousel></app-carousel>


    <div id="todo" class="bg-light">
        <h2>Homework</h2>
        <textarea id="w3review" name="w3review" rows="15" cols="50" disabled>
Hello! We recommend you courses that are available on our website and have been shared by our users. These are unique training materials, rich in content and knowledge that will help you gain new skills or deepen the ones you already have.

What distinguishes our differences from others? First of all, they are one of the enthusiasts and experts in their recordings who want to know that they are different. We also offer an easy-to-use pagination and search system that makes it quick and easy to find what you're looking for.
            
If the developments in the environment, on our site you will surely find a course that will meet your expectations. Whether you want to be guided by elaboration, graphic design, or to expand your knowledge in the field of business or marketing - our courses are for you.
            
See for yourself how valuable our training materials are and choose a course that will help you support your goals. I invite you to cooperate with our offer and join the community of people who support their skills and gain new knowledge.
        </textarea>
        <button class="btn btn-primary mb-4">Done</button>
    </div>

</div>