app-course-list {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

@media screen and (min-width: 992px) {
    #course-list {
        display: flex;
    }

    #empty-background{
        width: 20%;
    }
}