<div class="overflow-hidden text-center border-2 mb-2">
    <div class="col-md-5 p-lg-5 mx-auto my-1">
        <h1 class="display-4 font-weight-normal">Course Title</h1>
        <p class="lead font-weight-normal">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni vitae error
            nam ipsam asperiores deserunt itaque sed ipsa. Corrupti, dicta rem perspiciatis aliquid nobis consectetur
            nesciunt vero quas quis non.</p>
        <a class="btn btn-outline-secondary" href="#">Show homework</a>
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>


<div id="course_homework">


    <app-carousel></app-carousel>


    <div id="todo" class="bg-light">
        <h2>Homework</h2>
        <textarea id="w3review" name="w3review" rows="15" cols="50" disabled>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo odio iusto necessitatibus quo deleniti quaerat provident velit ratione vero illo incidunt, quos molestiae maiores nostrum perspiciatis voluptas? Provident, labore necessitatibus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo odio iusto necessitatibus quo deleniti quaerat provident velit ratione vero illo incidunt, quos molestiae maiores nostrum perspiciatis voluptas? Provident, labore necessitatibus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo odio iusto necessitatibus quo deleniti quaerat provident velit ratione vero illo incidunt, quos molestiae maiores nostrum perspiciatis voluptas? Provident, labore necessitatibus.
        </textarea>
        <button class="btn btn-primary mb-4">Done</button>
    </div>

</div>