h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width:992px) {

    #homework {
        display: flex;
        justify-content: space-around;
        background-color: black;
    }

}