<header
  class="d-flex align-items-center justify-content-center justify-content-md-around py-3 mb-2 border-bottom bg-dark">

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a href="#" class="nav-link px-2 link-light">Course List</a></li>
    <li><a href="#" class="nav-link px-2">New Course</a></li>
    <li><a href="#" class="nav-link px-2">Your Courses</a></li>
    <li><a href="#" class="nav-link px-2">About</a></li>
  </ul>

  <div id="logo">
    <h1>Logo</h1>
  </div>

  <div class="col-md-3 text-end">
    <button type="button" class="btn btn-outline-primary me-2" routerLink="login">Login</button>
    <button type="button" class="btn btn-primary">Sign-up</button>
  </div>
</header>


