app-calendar {
    width: 42%;
    padding: 2em;
    padding-top: 0;
    height: 30vh;
    margin-left: auto;
    margin-right: auto;
}

app-create-course-form {
    width: 45%;
    padding: 1em;
    margin-top: auto;
    margin-bottom: auto;
}


@media screen and (min-width:992px) {

    #create_course_layout {

        display: flex;
        justify-content: space-between;
        min-height: 82vh;

    }

    app-calendar {
        background-color: white;
    }

    app-create-course-form {
        background-color: #e6e6e6;
    }

}

@media screen and (max-width:992px) {

    app-create-course-form {
        margin: 2em;
    }

}