<app-loader></app-loader>

<app-owner-page [courseId]="courseId" [topics]="topics" [courseData]="courseData"
    *ngIf="checkIfLoggedUserIsOwner()"></app-owner-page>

<app-visitor-page [password]="password" [courseData]="courseData" [topics]="topics"
    *ngIf="!checkIfLoggedUserIsOwner() && accessGranted"></app-visitor-page>

<p-dialog header="Password required" [(visible)]="!accessGranted" [modal]="true" [draggable]="false"
    [resizable]="false">

    <div class="d-flex flex-column align-items-center">
        <p class="text-center">To access the course, please provide the required password as your account is not on the
            invited list.<br><b>Thank you.</b>
        </p>

        <span class="p-input-icon-left">
            <i class="pi pi-hashtag"></i>
            <p-password [(ngModel)]="password" [toggleMask]="true" [feedback]="false"></p-password>
        </span>

        <div class="d-flex">

            <button pButton pRipple label="Back to home page" icon="pi pi-arrow-left" style="margin:1em"
                class="p-button-warning" routerLink="/"></button>

            <button pButton pRipple label="Access course" icon="pi pi-arrow-right" style="margin:1em"
                class="p-button-success" (click)="sendPassword()"></button>

        </div>
    </div>

</p-dialog>