#container{
  position: relative;
  top: 10vh;
}

h5 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 4em;
}

input {
  width: 100%;
}

button{
  width: 100%;
}

.form-check {
  display: flex;
  justify-content: flex-end;
}