<app-loader></app-loader>
<div id="container">
  <div class="d-flex justify-content-center">
    <div class="col-11 col-lg-4">
      <p-card>
        <h5 class="card-title text-center mb-5 fw-light">Sign In</h5>

        <form [formGroup]="loginForm" (ngSubmit)="authenticate()">

          <div class="form-floating mb-3">
            <input pInputText type="text" id="floatingInput" placeholder="Username" formControlName="username">
          </div>

          <div
            *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)"
            class="alert alert-danger">
            <div *ngIf="loginForm.get('username')?.errors?.['required']">
              Username is required
            </div>
          </div>

          <div class="form-floating mb-3">
            <input pInputText type="password" id="floatingPassword" placeholder="Password" formControlName="password"
              autocomplete="on">
          </div>

          <div
            *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)"
            class="alert alert-danger">
            <div *ngIf="loginForm.get('password')?.errors?.['required']">
              Password is required
            </div>
          </div>

          <div class="form-check mb-3">
            <p-checkbox formControlName="rememberMe" inputId="rm" value="Remember me"></p-checkbox>
            <label class="m-1" for="rm">Remember Me</label>
          </div>

          <div>
            <button pButton pRipple label="Sign in" class="p-button-success" type="submit"></button>
          </div>

        </form>
      </p-card>
    </div>
  </div>
</div>