#desktopSidebar {
    display: none;
}

.title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    margin-top: 0.5em;
}

hr {
    width: 75%;
    margin: 0.5em auto;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 0.4em;
}

.search input,
.search span,
.search p-calendar,
.search p-dropdown,
.search p-button {
    margin: 2px auto 5px;
}

.search span p-button {
    margin: 0.5em;
}

.search label {
    text-align: center;
}

#sidebarButton {
    position: fixed;
    top: 11vh;
    left: 1vw;
}

@media screen and (max-width: 1200px) {

    aside {
        background-color: white !important;
    }

    aside>* {
        margin-top: 0;
    }

    label,
    span {
        color: rgb(24, 24, 24);
    }

    .title {
        font-size: 2em !important;
    }
}

@media screen and (min-width: 1200px) {

    #sidebarButton {
        display: none;
    }

    #desktopSidebar {
        display: block;
    }

    aside {
        position: fixed;
        top: 11vh;
        height: 100vh;
        width: 20vw;
    }

    #background {
        z-index: -1;
        position: fixed;
        top: 0;
        height: 100vh;
        width: 20vw;
    }

    label {
        color: white;
    }

    #control-panel p-button {
        margin-top: 0;
    }
}

@media screen and (min-width: 1600px) {

    aside {
        width: 15vw;
    }

    #background {
        width: 15vw;
    }

    .search {
        margin-bottom: 1em;
    }
}