.title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    margin-top: 0.5em;
}

hr {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2em;
    margin-bottom: 0;
    margin-top: 0.4em;

    input,
    span,
    p-calendar,
    p-dropdown,
    p-button {
        margin-top: 2px;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
    }

    span p-button {
        margin: 0.5em;
    }

    label {
        text-align: center;
    }
}

@media screen and (max-width:992px) {

    aside {
        background-color: white !important;
    }

    aside>* {
        margin-top: 0;
    }

    label,
    span {
        color: rgb(24, 24, 24);
    }

    .title {
        font-size: 2em !important;
    }

}

@media screen and (min-width:1200px) {

    aside {
        position: fixed;
        top: 13vh;
        height: 100vh;
        width: 20vw;

    }

    #background {
        z-index: -1;
        position: fixed;
        top: 0;
        height: 100vh;
        width: 20vw;
    }

    label {
        color: white;
    }

    #control-panel {
        p-button {
            margin-top: 0;
        }
    }

    @media screen and (min-width:1600px) {

        aside {
            width: 17vw;

        }

        #background {
            width: 17vw;
        }

    }


}