<aside class="bg-dark">
  <div class="d-flex flex-column flex-shrink-0 text-white">
    <span class="fs-4 title" style="text-align:center;">Find course</span>
    <hr>

    <form #searchForm="ngForm" (ngSubmit)="sendSearchRequest()">


      <div class="search">
        <label htmlFor="username"><fa-icon [icon]="faList"></fa-icon> Course Title</label>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText [(ngModel)]="search.title" [ngModelOptions]="{standalone: true}" />
        </span>
      </div>

      <!-- 
      <div class="search">
        <label for="name_admin">Name of administrator</label>
        <br>
        <input type="text" id="name_admin" class="form-text">
      </div> 
      -->


      <div class="search">
        <label htmlFor="username"><fa-icon [icon]="faClock"></fa-icon> Start Date</label>
        <p-calendar appendTo="body" id="date_start" [(ngModel)]="search.startDate" [showIcon]="true" name="startDate"
          dateFormat="yy-mm-dd" [ngModelOptions]="{standalone: true}"></p-calendar>
      </div>


      <div class="search">
        <label htmlFor="username"><fa-icon [icon]="faClock"></fa-icon> End Date</label>
        <p-calendar appendTo="body" id="date_end" [(ngModel)]="search.endDate" [showIcon]="true" name="endDate"
          dateFormat="yy-mm-dd" [ngModelOptions]="{standalone: true}"></p-calendar>
      </div>

      <div class="search">
        <label for="topic"><fa-icon [icon]="faBookmark"></fa-icon> Subject Area</label>
        <p-dropdown [options]="topics" optionValue="name" [(ngModel)]="search.topic" name="topic" optionLabel="name"
          [ngModelOptions]="{standalone: true}"></p-dropdown>
      </div>

      <div class="search">
        <span>
          <p-button icon="pi pi-search" type="submit"></p-button>
          <p-button icon="pi pi-times" styleClass="p-button-danger" type="reset"
            (click)="sendEmptySearchRequest()"></p-button>
        </span>
      </div>

    </form>

  </div>
</aside>

<div id="background" class="bg-dark"></div>