<aside class="bg-dark">
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white">
    <span class="fs-4 title" style="text-align:center;">Find course</span>
    <hr>

    <div class="search">
      <label for="name_course">Name of course</label>
      <br>
      <input type="text" id="name_course" class="form-text">
    </div>

    <div class="search">
      <label for="name_admin">Name of administrator</label>
      <br>
      <input type="text" id="name_admin" class="form-text">
    </div>

    <div class="search">
      <label for="date_start">Start date</label>
      <br>
      <input type="date" id="date_start" class="form-text">
    </div>

    <div class="search">
      <label for="date_end">End date</label>
      <br>
      <input type="date" id="date_end" class="form-text">
    </div>

    <div class="search">
      <label for="topic">Subject Area</label>
      <br>
      <input type="text" id="topic" class="form-text">
    </div>

    <div class="search">
      <button class="btn btn-primary">Search</button>
    </div>

  </div>
</aside>

<div id="background" class="bg-dark"></div>