main {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    min-height: 77vh;
}

.container {
    margin-bottom: 2em;
    padding: 1em;
}

.album {
    padding-top: 1em;
    min-height: 77vh;
}

#pagination {
    display: flex;
    flex-direction: column;
    align-items: center;

    div{
        width: 30%;
    }

}

#sortby {
    margin: 1em;
    display: flex;
    align-items: baseline;
    justify-content: center;

    p {
        margin-right: 1em;
    }

    select{
        max-width: 30%;
    }

}

#items_per_page {
    margin: 1em;
    display: flex;
    align-items: baseline;
    justify-content: center;

    p {
        margin-right: 1em;
    }

    select{
        max-width: 30%;
    }

}

#order {
    margin: 1em;
    display: flex;
    align-items: baseline;
    justify-content: center;

    p {
        margin-right: 1em;
    }

    select{
        max-width: 50%;
    }

}


img {
    width: 5em;
    height: 5em;
    border: 3px solid black;
    border-radius: 100%;
    padding: 4px;
    text-align: center;
}

h1 {
    padding: 2%;
}

.header {
    font-weight: bold;
    padding: 0;
    margin: 0;
}

fa-icon {
    color: #212529;
}

p {
    text-align: center;
}

ul {
    padding: 0 !important;
}

@media screen and (max-width:992px) {
    .course {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .course>div {
        margin: 1em;
    }

    #pagination {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    
        div{
            width: 100%;
        }
    
    }
}

@media screen and (min-width:992px) {


    .course {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .card {
        transition: all .2s ease-in-out;
    }


    .card:hover {
        transform: scale(1.05);
    }

    #pagination {
        flex-direction: row;
        justify-content: flex-end;

        select {
            width: 60%;
        }
    }

}