<main class="my-4">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Course List</h1>
            <p class="lead text-muted text MB-2">If you need development in specific areas, on our website you will
                surely
                find a course that will meet your expectations.<br> We offer an easy-to-use pagination and search system
                that makes it quick and easy to find what you're looking for.</p>
        </div>
    </section>

    <div class="album bg-light p-4">
        <div class="container">

            <div class="row">

                <div id="pagination">
                    <div id="sortby">
                        <p>Sort by:</p>
                        <select class="form-select" (change)="onSortByChange($event)" [(ngModel)]="sortBy">
                            <option name="sortByValue" value="title">Title</option>
                            <option name="sortByValue" value="startDate">Start Date</option>
                            <option name="sortByValue" value="endDate">End Date</option>
                            <option name="sortByValue" value="Topic">Topic</option>
                        </select>
                    </div>

                    <div id="order">
                        <p>Sorting order:</p>
                        <select class="form-select" (change)="onOrderChange($event)" [(ngModel)]="order">
                            <option name="orderByValue" value="ASC">Ascending</option>
                            <option name="orderByValue" value="DESC">Descending</option>
                        </select>
                    </div>

                    <div id="items_per_page">
                        <p>Per page:</p>
                        <select class="form-select" (change)="onTableSizeChange($event)" [(ngModel)]="tableSize">
                            <option name="itemPerPage" *ngFor="let size of tableSizes">{{size}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-12" *ngFor="let course of courses | paginate
                                                                        : {
                                                                            itemsPerPage: tableSize,
                                                                            currentPage: page,
                                                                            totalItems: count
                                                                        };
                                                                        let i = index">

                    <div class="card mb-4 box-shadow" *ngIf="course">
                        <div class="card-body course">

                            <div>
                                <img [src]="'assets/course_icon/' + course.image" alt="Course Icon">
                            </div>

                            <div>
                                <div>
                                    <p class="header"><fa-icon [icon]="faList"></fa-icon> Title</p>
                                </div>
                                <div>
                                    <p>{{ course.title }}</p>
                                </div>

                                <div>
                                    <p class="header"><fa-icon [icon]="faUser"></fa-icon> Owner</p>
                                </div>
                                <div>
                                    <p>Admin</p>
                                </div>
                            </div>

                            <div>
                                <div>
                                    <p class="header"><fa-icon [icon]="faClock"></fa-icon> Start data</p>
                                </div>
                                <div>
                                    <p>{{ course.startDate }}</p>
                                </div>

                                <div>
                                    <p class="header"><fa-icon [icon]="faClock"></fa-icon> End data</p>
                                </div>
                                <div>
                                    <p>{{ course.endDate }}</p>
                                </div>
                            </div>

                            <div>
                                <div>
                                    <p class="header"><fa-icon [icon]="faBookmark"></fa-icon> Topic</p>
                                </div>
                                <div>
                                    <p>{{ course.topic }}</p>
                                </div>

                                <div>
                                    <p class="header"><fa-icon [icon]="faScroll"></fa-icon> Description</p>
                                </div>
                                <div>
                                    <p>{{ course.description }}</p>
                                </div>
                            </div>

                            <div>
                                <a href="/course"><button class="btn btn-primary">Join</button></a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="d-flex justify-content-center">
                <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onPageChange($event)">
                </pagination-controls>
            </div>

        </div>
    </div>

</main>