main {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.album {
    border-radius: 0 0 10px 10px;
    padding-top: 1em;
}

img {
    width: 5em;
    height: 5em;
    border: 3px solid black;
    border-radius: 100%;
    padding: 4px;
    text-align: center;
}

h1 {
    padding: 2%;
}

.header{
    font-weight: bold;
    padding: 0;
    margin: 0;
}

p{
    text-align: center;
}

@media screen and (max-width:992px) {
    .course {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .course>div {
        margin: 1em;
    }
}

@media screen and (min-width:992px) {


    .course {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}