main,
.album {
    border-radius: 10px;
}

.pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sortby,
#items_per_page,
#order {
    margin: 1em;
    display: flex;
    align-items: baseline;
    justify-content: center;

    p {
        margin-right: 1em;
    }

    select {
        max-width: 30%;
    }

    #order select {
        max-width: 50%;
    }
}

.course_icon {
    height: 20vh;
    object-fit: cover;
}

h1 {
    padding: 2%;
    font-weight: bold;
    margin: 0;
}

fa-icon {
    color: #212529;
}

p {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .pagination {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}