<main class="my-4">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Course List</h1>
            <p class="lead text-muted text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo enim maiores,
                distinctio voluptate minus quas quaerat tempora. Aspernatur animi provident quo, quaerat quibusdam
                soluta autem cupiditate illum cumque a adipisci.</p>
        </div>
    </section>

    <div class="album bg-light p-4">
        <div class="container">

            <div class="row">

                <div class="col-md-12" *ngFor="let course of courses
                                                                        | paginate
                                                                        : {
                                                                            itemsPerPage: tableSize,
                                                                            currentPage: page,
                                                                            totalItems: count
                                                                        };
                                                                        let i = index"
                                                                        >
                    <div class="card mb-4 box-shadow">
                        <div class="card-body course">

                            <div>
                                <img src="/assets/course_icon/{{course.image}}" alt="course_icon">
                            </div>

                            <div>
                                <div>
                                    <p class="header">Title</p>
                                </div>
                                <div>
                                    <p>{{ course.title }}</p>
                                </div>

                                <div>
                                    <p class="header">Admin Name</p>
                                </div>
                                <div>
                                    <p>Admin</p>
                                </div>
                            </div>

                            <div>
                                <div>
                                    <p class="header">Start data</p>
                                </div>
                                <div>
                                    <p>{{ course.startData }}</p>
                                </div>

                                <div>
                                    <p class="header">End data</p>
                                </div>
                                <div>
                                    <p>{{ course.endData }}</p>
                                </div>
                            </div>

                            <div>
                                <div>
                                    <p class="header">Topic</p>
                                </div>
                                <div>
                                    <p>{{ course.topic }}</p>
                                </div>

                                <div>
                                    <p class="header">Description</p>
                                </div>
                                <div>
                                    <p>{{ course.description }}</p>
                                </div>
                            </div>

                            <div>
                                <a routerLink="/course"><button class="btn btn-primary">Join</button></a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="d-flex justify-content-center">
                <pagination-controls
                  previousLabel="Prev"
                  nextLabel="Next"
                  (pageChange)="onTableDataChange($event)"
                >
                </pagination-controls>
              </div>




        </div>
    </div>

</main>