<main class="my-4">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Course List</h1>
            <p class="lead text-muted text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo enim maiores,
                distinctio voluptate minus quas quaerat tempora. Aspernatur animi provident quo, quaerat quibusdam
                soluta autem cupiditate illum cumque a adipisci.</p>
        </div>
    </section>

    <div class="album bg-light p-4">
        <div class="container">

            <div class="row">

                <div id="items_per_page">
                    <p>Course per page:</p>
                    <select class="form-select" (change)="onTableSizeChange($event)" [(ngModel)]="tableSize">
                        <option name="itemPerPage" *ngFor="let size of tableSizes">{{size}}</option>
                    </select>
                </div>

                <div class="col-md-12" *ngFor="let course of courses | paginate
                                                                        : {
                                                                            itemsPerPage: tableSize,
                                                                            currentPage: page,
                                                                            totalItems: count
                                                                        };
                                                                        let i = index">

                    <div class="card mb-4 box-shadow">
                        <div class="card-body course">

                            <div>
                                <img src="/assets/course_icon/{{course.image}}" alt="course_icon">
                            </div>

                            <div>
                                <div>
                                    <p class="header"><fa-icon [icon]="faList"></fa-icon> Title</p>
                                </div>
                                <div>
                                    <p>{{ course.title }}</p>
                                </div>

                                <div>
                                    <p class="header"><fa-icon [icon]="faUser"></fa-icon> Owner</p>
                                </div>
                                <div>
                                    <p>Admin</p>
                                </div>
                            </div>

                            <div>
                                <div>
                                    <p class="header"><fa-icon [icon]="faClock"></fa-icon> Start data</p>
                                </div>
                                <div>
                                    <p>{{ course.startData }}</p>
                                </div>

                                <div>
                                    <p class="header"><fa-icon [icon]="faClock"></fa-icon> End data</p>
                                </div>
                                <div>
                                    <p>{{ course.endData }}</p>
                                </div>
                            </div>

                            <div>
                                <div>
                                    <p class="header"><fa-icon [icon]="faBookmark"></fa-icon> Topic</p>
                                </div>
                                <div>
                                    <p>{{ course.topic }}</p>
                                </div>

                                <div>
                                    <p class="header"><fa-icon [icon]="faScroll"></fa-icon> Description</p>
                                </div>
                                <div>
                                    <p>{{ course.description }}</p>
                                </div>
                            </div>

                            <div>
                                <a routerLink="/course"><button class="btn btn-primary">Join</button></a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="d-flex justify-content-center">
                <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onPageChange($event)">
                </pagination-controls>
            </div>

        </div>
    </div>

</main>