#container {
  position: relative;
  top: 5vh;
}

input {
  width: 100%;
}

.card-img-left {
  width: 45%;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h5 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 5em;
}