<header class="py-3 bg-dark">

  <div id="menu">

    <a routerLink="/">
      <div id="logo">
        <img src="/assets/images/logo.png">
      </div>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a routerLink="/" class="nav-link px-2 link-light">Course List</a></li>
      <li><a routerLink="/create" class="nav-link px-2">New Course</a></li>
      <li><a routerLink="#" class="nav-link px-2">Your Courses</a></li>
    </ul>

  </div>


  <div class="text-end">
    <a routerLink="/login"><button type="button" class="btn btn-outline-primary me-2">Login</button></a>
    <a routerLink="/register"><button type="button" class="btn btn-primary">Sign-up</button></a>
  </div>
</header>