<aside>
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; height: 80vh;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap" />
      </svg>
      <span class="fs-4">Search course</span>
    </a>
    <hr>
    
    <div class="search">
      <label for="name_course">Name of course</label>
      <br>
      <input type="text" id="name_course">
    </div>

    <div class="search">
      <label for="name_course">Name of course</label>
      <br>
      <input type="text" id="name_course">
    </div>

    <div class="search">
      <label for="name_course">Name of course</label>
      <br>
      <input type="text" id="name_course">
    </div>

    <div class="search">
      <label for="name_course">Name of course</label>
      <br>
      <input type="text" id="name_course">
    </div>

    <div class="search">
      <label for="name_course">Name of course</label>
      <br>
      <input type="text" id="name_course">
    </div>

    <div class="search">
      <button class="btn btn-primary">Search</button>
    </div>

  </div>
</aside>