h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.section-course {
    width: 100%;
    border: 3px solid white;
}

.section-course h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.carousel-item img {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width:768px) {

    #homework {
        display: flex;
        justify-content: space-around;
        background-color: black;
    }

}