h1 {
    padding: 2%;
    font-weight: bold;
    margin: 0;
}

#container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

label {
    text-align: left;
    margin-top: 1em;
    margin-bottom: 0.8em;
}

button {
    margin-top: 1em;
    margin-bottom: 2em;
}

#divider {
    margin-top: 2em;
    margin-bottom: 2em;
}

#desktop-divider {
    margin-top: 2em;
    display: none;
}

#attachments {
    display: none;
}

.attachment {
    display: flex;
    justify-content: center;
}

#control-panel {
    display: flex;
    justify-content: flex-end;
}

@media screen and (min-width: 768px) {

    #divider {
        display: none;
    }

    #desktop-divider {
        display: block;
    }

    #mobile-attachments {
        display: none;
    }

    #attachments {
        display: block;
    }
}