<p-menubar [model]="items" styleClass="menubar">
  <ng-template pTemplate="start">
    <a routerLink="/">
      <h1 id="logo">Online Courses</h1>
    </a>
  </ng-template>
  <ng-template pTemplate="end">
    <a routerLink="/">
      <h1 id="mlogo">Online Courses</h1>
    </a>
    <div id="userwelcome" *ngIf="isUserDataSet()">

      <div id="userdata">
        <p>Witaj <b>{{userData?.username}}</b> !</p>
        <p id="usermail"><b>{{userData?.mail}}</b></p>
      </div>

      <p-avatar *ngIf="isUserPhotoSet()" image="data:image/jpeg;base64,{{userPhoto}}" styleClass="mr-3"
        size="large"></p-avatar>
      <p-avatar *ngIf="!isUserPhotoSet()" icon="pi pi-user" styleClass="mr-3" size="large"
        [style]="{ 'background-color': '#4caf4f', color: '#ffffff' }"></p-avatar>

    </div>
  </ng-template>
</p-menubar>