header {
    width: 100%;
    padding: 15px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
}

#logo>h1 {
    color: white;
    font-size: 2em;
}

.user-logout{
    display: flex;
    align-items: center;
}

.user-data{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 1em;
    p{
        margin: 0;
    }
}

@media screen and (min-width:992px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #menu {
        width: 77%;
    }

}

@media screen and (max-width:992px) {

    
    img {
        width: 15em;
    }

    .user-logout{
        justify-content: end;
        text-align: center;
    }
}