<header class="py-3 bg-dark">


  <a routerLink="/">
    <div id="logo">
      <a href="/"><img src="/assets/images/logo.png"></a>
    </div>
  </a>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a href="/" class="nav-link px-2 link-light">Course List</a></li>
    <li><a href="/create" class="nav-link px-2">New Course</a></li>
    <li><a href="#" class="nav-link px-2">Your Courses</a></li>
  </ul>


  <div class="text-end">
    <a href="/login"><button type="button" class="btn btn-outline-primary me-2">Login</button></a>
    <a href="/register"><button type="button" class="btn btn-primary">Sign-up</button></a>
  </div>
</header>