:host {
    ::ng-deep .menubar {
        background-color: #212529;
        border: 0;
        border-radius: 0;
        margin: 0;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 1);
    }

    ::ng-deep .p-avatar {
        margin-right: 0.1em;

        img {
            border-radius: 8px;
            object-fit: cover;
        }
    }

    @media screen and (min-width: 960px) {
        ::ng-deep .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link .p-menuitem-text {
            color: white;
        }
    }
}

#mlogo {
    display: none;
}

#userwelcome {
    display: flex;
    align-items: flex-start;

    #userdata>p {
        margin: 0;
        margin-left: 0.5em;
        margin-right: 0.5em;
        color: white;
        text-align: right;
    }

    #usermail {
        color: grey;
        font-size: 0.9em;
    }
}

@media screen and (max-width: 992px) {

    #userwelcome {
        display: none;
    }

    #logo {
        display: none;
    }

    #mlogo {
        display: block;
    }
}