<header class="py-3 bg-dark" *ngIf="loginService.isLoggedIn | async; else loggedOut">


  <a routerLink="/">
    <div id="logo">
      <a routerLink="/"><img src="/assets/images/logo.png"></a>
    </div>
  </a>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a routerLink="/" class="nav-link px-2 link-light">Course List</a></li>
    <li><a routerLink="/create" class="nav-link px-2">New Course</a></li>
  </ul>

  <div class="text-end user-logout">

    <div *ngIf="username" class="user-data text-end">
      <p><strong style="color:rgb(0, 140, 255)">Witaj!</strong> {{ username }}!</p>
    </div>

    <a (click)="logoutUser()" routerLink="/"><button type="button" class="btn btn-outline-primary me-2">Log
        out</button></a>
  </div>
</header>


<ng-template #loggedOut>
  <header class="py-3 bg-dark">


    <a routerLink="/">
      <div id="logo">
        <a routerLink="/"><img src="/assets/images/logo.png"></a>
      </div>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a routerLink="/" class="nav-link px-2 link-light">Course List</a></li>
    </ul>


    <div class="text-end">
      <a routerLink="/login"><button type="button" class="btn btn-outline-primary me-2">Login</button></a>
      <a routerLink="/register"><button type="button" class="btn btn-primary">Sign-up</button></a>
    </div>
  </header>
</ng-template>